/target/
**/*.rs.bk
Cargo.lock  

/c_build/
c_src/*.o
c_src/*.a
c_src/*.lib
c_src/*.so
c_src/*.dll
c_src/*.dylib


.DS_Store 
Thumbs.db  
*.swp   
*.swo

/dist/
*.deb
*.pkg
*.dmg
*.msi


.idea/
.vscode/
*.suo
*.user

.quicksky/  


# Added by cargo

/target

windows/
macos/
debian/
.DS_Store
.skyhide
